{% extends 'courseinfo/base.html' %}

{% block title %}
    Course - {{ number }} - {{ name }}
{% endblock %}

{% block content %}
    <h2>{{ number }} - {{ name }}</h2>
    <ul>
        <li>
            <a href="{{ course.get_update_url }}"> Edit Course</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Course Number:</th>
                <td>{{ number }}</td>
            </tr>
            <tr>
                <th>Course Name:</th>
                <td>{{ name }}</td>
            </tr>
        </table>
    </section>

{% endblock %}
